importation de pandas

In [1]:
import pandas as pd

Lire le fichier data.csv

In [2]:
df = pd.read_csv("DataSource/data.csv")

In [3]:
df

,id,date,first_name,last_name,email,gender,ip_address,country,price_paid,tax
0,1,03/28/2021,Marylin,Alders,malders0@shop-pro.jp,Male,160.119.8.119,Canada,$5.36,NaN
1,2,03/19/2021,Hinda,Harridge,hharridge1@gnu.org,Female,210.51.172.132,Canada,$8.32,NaN
2,3,03/17/2021,Erl,Kilminster,ekilminster2@etsy.com,Male,213.8.101.145,United States,$3.73,20.0
3,4,03/19/2021,Grata,Brantl,gbrantl3@umn.edu,Female,5.140.237.101,United States,$3.70,20.0
4,5,03/24/2021,Kanya,Beasant,kbeasant4@jigsy.com,Male,106.252.162.233,Morocco,$9.24,20.0
...,...,...,...,...,...,...,...,...,...,...
995,996,03/24/2021,Duff,Errigo,derrigorn@elpais.com,Female,193.84.247.144,France,$3.63,NaN
996,997,03/17/2021,Ame,Rastall,arastallro@toplist.cz,Female,188.219.12.109,NaN,$4.59,20.0
997,998,03/13/2021,Betty,Stickels,bstickelsrp@cloudflare.com,Male,199.80.60.87,United States,$7.54,20.0
998,999,03/17/2021,Paquito,Tesoe,ptesoerq@rakuten.co.jp,Male,0.183.63.11,United States,$5.81,NaN
999,1000,03/23/2021,Rochelle,Pringuer,rpringuerrr@house.gov,NaN,170.193.249.83,Canada,$8.01,20.0

In [4]:
df.head(10)

,id,date,first_name,last_name,email,gender,ip_address,country,price_paid,tax
0,1,03/28/2021,Marylin,Alders,malders0@shop-pro.jp,Male,160.119.8.119,Canada,$5.36,NaN
1,2,03/19/2021,Hinda,Harridge,hharridge1@gnu.org,Female,210.51.172.132,Canada,$8.32,NaN
2,3,03/17/2021,Erl,Kilminster,ekilminster2@etsy.com,Male,213.8.101.145,United States,$3.73,20.0
3,4,03/19/2021,Grata,Brantl,gbrantl3@umn.edu,Female,5.140.237.101,United States,$3.70,20.0
4,5,03/24/2021,Kanya,Beasant,kbeasant4@jigsy.com,Male,106.252.162.233,Morocco,$9.24,20.0
5,6,03/25/2021,Titos,Braybrooke,tbraybrooke5@umn.edu,Female,173.100.21.179,United States,$5.82,NaN
6,7,03/14/2021,Ava,Kencott,akencott6@phoca.cz,Female,118.251.45.43,Canada,$6.29,NaN
7,8,03/08/2021,Codi,Feasley,cfeasley7@ed.gov,Male,26.190.191.249,France,$3.01,20.0
8,9,03/09/2021,Waylon,Heersema,wheersema8@tumblr.com,Male,63.242.174.112,Canada,$3.70,20.0
9,10,03/23/2021,Guglielma,Gookes,ggookes9@amazon.co.uk,Male,169.100.6.0,France,$9.05,NaN

In [5]:
df.tail(10)

,id,date,first_name,last_name,email,gender,ip_address,country,price_paid,tax
990,991,03/19/2021,Shep,Thorburn,sthorburnri@prnewswire.com,Male,108.123.252.15,France,$7.02,20.0
991,992,03/07/2021,Elihu,Crush,ecrushrj@berkeley.edu,Male,174.38.173.53,Morocco,$5.05,20.0
992,993,03/04/2021,Maurene,Guilloneau,mguilloneaurk@about.me,Male,108.73.141.204,France,$9.19,NaN
993,994,03/22/2021,Ossie,Snelle,osnellerl@nhs.uk,Male,230.187.67.246,France,$4.31,NaN
994,995,03/17/2021,Carolyne,Bruntjen,cbruntjenrm@reference.com,Female,7.29.168.78,France,$5.68,20.0
995,996,03/24/2021,Duff,Errigo,derrigorn@elpais.com,Female,193.84.247.144,France,$3.63,NaN
996,997,03/17/2021,Ame,Rastall,arastallro@toplist.cz,Female,188.219.12.109,NaN,$4.59,20.0
997,998,03/13/2021,Betty,Stickels,bstickelsrp@cloudflare.com,Male,199.80.60.87,United States,$7.54,20.0
998,999,03/17/2021,Paquito,Tesoe,ptesoerq@rakuten.co.jp,Male,0.183.63.11,United States,$5.81,NaN
999,1000,03/23/2021,Rochelle,Pringuer,rpringuerrr@house.gov,NaN,170.193.249.83,Canada,$8.01,20.0

In [6]:
df.shape

(1000, 10)

In [7]:
df.columns

Index(['id', 'date', 'first_name', 'last_name', 'email', 'gender',
       'ip_address', 'country', 'price_paid', 'tax'],
      dtype='object')

In [8]:
dfcopy = df.copy()

In [9]:
dfRename =dfcopy.rename(columns=
                        {'first_name':'nom', 
                         'last_name':'prenom',
                         'gender':'sexe',
                         'country':'pays',
                         'price_paid':'avant_taxe',
                         'tax':'taxe'
                        },
                         inplace=True)

In [10]:
dfRename

In [11]:
dfRename

In [12]:
dfcopy

,id,date,nom,prenom,email,sexe,ip_address,pays,avant_taxe,taxe
0,1,03/28/2021,Marylin,Alders,malders0@shop-pro.jp,Male,160.119.8.119,Canada,$5.36,NaN
1,2,03/19/2021,Hinda,Harridge,hharridge1@gnu.org,Female,210.51.172.132,Canada,$8.32,NaN
2,3,03/17/2021,Erl,Kilminster,ekilminster2@etsy.com,Male,213.8.101.145,United States,$3.73,20.0
3,4,03/19/2021,Grata,Brantl,gbrantl3@umn.edu,Female,5.140.237.101,United States,$3.70,20.0
4,5,03/24/2021,Kanya,Beasant,kbeasant4@jigsy.com,Male,106.252.162.233,Morocco,$9.24,20.0
...,...,...,...,...,...,...,...,...,...,...
995,996,03/24/2021,Duff,Errigo,derrigorn@elpais.com,Female,193.84.247.144,France,$3.63,NaN
996,997,03/17/2021,Ame,Rastall,arastallro@toplist.cz,Female,188.219.12.109,NaN,$4.59,20.0
997,998,03/13/2021,Betty,Stickels,bstickelsrp@cloudflare.com,Male,199.80.60.87,United States,$7.54,20.0
998,999,03/17/2021,Paquito,Tesoe,ptesoerq@rakuten.co.jp,Male,0.183.63.11,United States,$5.81,NaN
999,1000,03/23/2021,Rochelle,Pringuer,rpringuerrr@house.gov,NaN,170.193.249.83,Canada,$8.01,20.0

In [13]:
dfcopy.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 10 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   id          1000 non-null   int64
 1   date        1000 non-null   object
 2   nom         1000 non-null   object
 3   prenom      1000 non-null   object
 4   email       1000 non-null   object
 5   sexe        931 non-null    object
 6   ip_address  1000 non-null   object
 7   pays        956 non-null    object
 8   avant_taxe  1000 non-null   object
 9   taxe        654 non-null    float64
dtypes: float64(1), int64(1), object(8)
memory usage: 78.2+ KB

-------------------------------------------- Les filtres et comment supprimer une colonne-----------------------------------

In [14]:
dfcopy

,id,date,nom,prenom,email,sexe,ip_address,pays,avant_taxe,taxe
0,1,03/28/2021,Marylin,Alders,malders0@shop-pro.jp,Male,160.119.8.119,Canada,$5.36,NaN
1,2,03/19/2021,Hinda,Harridge,hharridge1@gnu.org,Female,210.51.172.132,Canada,$8.32,NaN
2,3,03/17/2021,Erl,Kilminster,ekilminster2@etsy.com,Male,213.8.101.145,United States,$3.73,20.0
3,4,03/19/2021,Grata,Brantl,gbrantl3@umn.edu,Female,5.140.237.101,United States,$3.70,20.0
4,5,03/24/2021,Kanya,Beasant,kbeasant4@jigsy.com,Male,106.252.162.233,Morocco,$9.24,20.0
...,...,...,...,...,...,...,...,...,...,...
995,996,03/24/2021,Duff,Errigo,derrigorn@elpais.com,Female,193.84.247.144,France,$3.63,NaN
996,997,03/17/2021,Ame,Rastall,arastallro@toplist.cz,Female,188.219.12.109,NaN,$4.59,20.0
997,998,03/13/2021,Betty,Stickels,bstickelsrp@cloudflare.com,Male,199.80.60.87,United States,$7.54,20.0
998,999,03/17/2021,Paquito,Tesoe,ptesoerq@rakuten.co.jp,Male,0.183.63.11,United States,$5.81,NaN
999,1000,03/23/2021,Rochelle,Pringuer,rpringuerrr@house.gov,NaN,170.193.249.83,Canada,$8.01,20.0

In [15]:
dfcopy["pays"]=="Canada"

0       True
1       True
2      False
3      False
4      False
       ...
995    False
996    False
997    False
998    False
999     True
Name: pays, Length: 1000, dtype: bool

In [16]:
dfcopy[(dfcopy["pays"]=="Canada") &  (dfcopy["sexe"]=="Male")  & (dfcopy["taxe"].notnull())]

,id,date,nom,prenom,email,sexe,ip_address,pays,avant_taxe,taxe
8,9,03/09/2021,Waylon,Heersema,wheersema8@tumblr.com,Male,63.242.174.112,Canada,$3.70,20.0
19,20,03/01/2021,Sibeal,Mounch,smounchj@rakuten.co.jp,Male,218.17.7.177,Canada,$5.82,20.0
21,22,03/05/2021,Mendie,Ayer,mayerl@squarespace.com,Male,166.97.124.52,Canada,$4.86,20.0
22,23,03/03/2021,Muriel,Pexton,mpextonm@bing.com,Male,113.10.187.192,Canada,$6.72,20.0
69,70,03/16/2021,Jose,Oliva,joliva1x@ovh.net,Male,219.6.130.3,Canada,$6.79,20.0
82,83,03/20/2021,Ricca,Mantle,rmantle2a@ucla.edu,Male,122.11.31.203,Canada,$6.89,20.0
98,99,03/06/2021,Gerardo,Antley,gantley2q@php.net,Male,112.48.89.18,Canada,$9.67,20.0
132,133,03/26/2021,Nowell,Nelson,nnelson3o@dyndns.org,Male,246.190.254.169,Canada,$3.03,20.0
157,158,03/19/2021,Clare,Wloch,cwloch4d@bluehost.com,Male,213.119.0.23,Canada,$4.74,20.0
160,161,03/23/2021,Elke,Baroch,ebaroch4g@vk.com,Male,144.14.174.182,Canada,$4.57,20.0
161,162,03/10/2021,Magdalen,Karpman,mkarpman4h@flavors.me,Male,44.118.171.204,Canada,$4.38,20.0
188,189,03/22/2021,Rutger,Swett,rswett58@e-recht24.de,Male,15.128.220.149,Canada,$5.88,20.0
222,223,03/26/2021,Lockwood,Sweedy,lsweedy66@twitter.com,Male,172.155.112.200,Canada,$8.21,20.0
237,238,03/05/2021,Nonie,Barwis,nbarwis6l@opera.com,Male,206.238.91.79,Canada,$3.03,20.0
252,253,03/05/2021,Trenna,Jaskiewicz,tjaskiewicz70@ustream.tv,Male,92.192.234.121,Canada,$3.23,20.0
257,258,03/11/2021,Dyna,Saberton,dsaberton75@cnbc.com,Male,191.190.91.170,Canada,$5.97,20.0
261,262,03/07/2021,Glennis,Bossel,gbossel79@webmd.com,Male,255.224.32.3,Canada,$6.06,20.0
286,287,03/15/2021,Alvie,Thaw,athaw7y@issuu.com,Male,29.41.160.23,Canada,$3.23,20.0
302,303,03/20/2021,Audi,Davies,adavies8e@linkedin.com,Male,182.126.74.139,Canada,$3.48,20.0
338,339,03/14/2021,Burr,Custance,bcustance9e@disqus.com,Male,40.86.97.213,Canada,$4.03,20.0
345,346,03/03/2021,Lura,Rosenkranc,lrosenkranc9l@google.cn,Male,46.30.149.96,Canada,$5.06,20.0
348,349,03/20/2021,Kari,Earlam,kearlam9o@goo.ne.jp,Male,134.177.219.252,Canada,$3.56,20.0
361,362,03/25/2021,Rosene,Fielder,rfieldera1@netvibes.com,Male,93.172.148.185,Canada,$6.46,20.0
368,369,03/12/2021,Olympia,Whitton,owhittona8@theguardian.com,Male,241.73.47.134,Canada,$8.75,20.0
409,410,03/19/2021,Romain,Gutowska,rgutowskabd@intel.com,Male,246.69.29.30,Canada,$6.60,20.0
427,428,03/18/2021,Trisha,Humphrys,thumphrysbv@merriam-webster.com,Male,86.119.151.164,Canada,$7.90,20.0
432,433,03/13/2021,Charley,Kretchmer,ckretchmerc0@virginia.edu,Male,208.44.3.83,Canada,$3.93,20.0
441,442,03/12/2021,Wilt,Yeend,wyeendc9@umn.edu,Male,28.101.60.9,Canada,$6.35,20.0
460,461,03/16/2021,Jobey,Bernon,jbernoncs@si.edu,Male,89.172.67.249,Canada,$9.06,20.0
503,504,03/02/2021,Katina,Meacher,kmeacherdz@mapquest.com,Male,121.190.75.91,Canada,$3.60,20.0
506,507,03/20/2021,Boyce,Snelgar,bsnelgare2@goo.ne.jp,Male,46.31.137.28,Canada,$7.36,20.0
515,516,03/24/2021,Eustacia,Dingate,edingateeb@nationalgeographic.com,Male,12.250.127.193,Canada,$5.84,20.0
565,566,03/04/2021,Thorpe,Phorsby,tphorsbyfp@live.com,Male,245.154.58.148,Canada,$5.63,20.0
578,579,03/04/2021,Thornie,Letterick,tletterickg2@ycombinator.com,Male,6.179.53.231,Canada,$4.36,20.0
640,641,03/13/2021,Aleksandr,Speariett,aspearietths@google.it,Male,94.217.228.234,Canada,$8.72,20.0
647,648,03/20/2021,Alanson,Butterick,abutterickhz@imdb.com,Male,59.209.139.193,Canada,$6.63,20.0
662,663,03/11/2021,Carol,Glennie,cglennieie@squarespace.com,Male,128.54.204.166,Canada,$5.20,20.0
683,684,03/06/2021,Evangelin,Grieveson,egrievesoniz@4shared.com,Male,100.216.155.213,Canada,$9.96,20.0
686,687,03/28/2021,Redford,Langland,rlanglandj2@ft.com,Male,173.50.136.216,Canada,$6.99,20.0
692,693,03/08/2021,Rasla,Rolling,rrollingj8@arizona.edu,Male,37.234.81.35,Canada,$4.95,20.0
705,706,03/04/2021,Verney,Stoppe,vstoppejl@xrea.com,Male,223.196.82.6,Canada,$9.62,20.0
711,712,03/30/2021,Tiffy,Ryal,tryaljr@pagesperso-orange.fr,Male,88.102.149.156,Canada,$4.85,20.0
720,721,03/14/2021,Maurits,Gutteridge,mgutteridgek0@i2i.jp,Male,237.130.182.155,Canada,$4.78,20.0
776,777,03/19/2021,Mitch,Pittel,mpittellk@kickstarter.com,Male,90.95.110.82,Canada,$3.86,20.0
783,784,03/11/2021,Donna,Greatbank,dgreatbanklr@tmall.com,Male,16.138.241.47,Canada,$4.05,20.0
871,872,03/14/2021,Scarface,Alldis,salldiso7@cmu.edu,Male,53.37.210.73,Canada,$9.97,20.0
902,903,03/23/2021,Quintina,Sterricks,qsterricksp2@cmu.edu,Male,255.19.122.233,Canada,$3.56,20.0
918,919,03/18/2021,Silvia,Daverin,sdaverinpi@uol.com.br,Male,119.161.184.205,Canada,$9.81,20.0
940,941,03/24/2021,Torey,Trye,ttryeq4@harvard.edu,Male,246.163.134.184,Canada,$3.23,20.0
964,965,03/16/2021,Marilyn,McKiernan,mmckiernanqs@mapy.cz,Male,50.243.237.247,Canada,$4.23,20.0
978,979,03/18/2021,Bartolemo,Veelers,bveelersr6@smh.com.au,Male,149.150.196.237,Canada,$7.76,20.0

In [17]:
dfcopy.isna().sum()

id              0
date            0
nom             0
prenom          0
email           0
sexe           69
ip_address      0
pays           44
avant_taxe      0
taxe          346
dtype: int64

In [18]:
dfcopy.query("sexe =='Female' & pays=='Morocco'")

,id,date,nom,prenom,email,sexe,ip_address,pays,avant_taxe,taxe
30,31,03/28/2021,Tommi,Ditchburn,tditchburnu@bbc.co.uk,Female,8.92.173.38,Morocco,$7.81,20.0
88,89,03/21/2021,Randy,Tiebe,rtiebe2g@livejournal.com,Female,98.223.40.3,Morocco,$4.95,20.0
158,159,03/07/2021,Ethelin,Gors,egors4e@blogtalkradio.com,Female,49.70.235.121,Morocco,$7.98,20.0
168,169,03/01/2021,Willis,Sandercroft,wsandercroft4o@loc.gov,Female,63.189.92.203,Morocco,$10.00,20.0
195,196,03/22/2021,Frederica,Stuchburie,fstuchburie5f@ocn.ne.jp,Female,46.120.92.17,Morocco,$9.51,NaN
205,206,03/29/2021,Kendal,Huleatt,khuleatt5p@shutterfly.com,Female,232.135.221.184,Morocco,$5.82,20.0
301,302,03/22/2021,Ollie,Suermeier,osuermeier8d@istockphoto.com,Female,163.77.66.47,Morocco,$9.98,NaN
316,317,03/28/2021,Duncan,Dymocke,ddymocke8s@archive.org,Female,131.184.17.89,Morocco,$5.83,20.0
362,363,03/22/2021,Mureil,Bartke,mbartkea2@simplemachines.org,Female,136.214.48.211,Morocco,$7.93,20.0
375,376,03/14/2021,Abagael,Lafflina,alafflinaaf@prlog.org,Female,60.155.75.228,Morocco,$6.50,20.0
379,380,03/21/2021,Sheelagh,Gilmore,sgilmoreaj@bing.com,Female,101.59.14.157,Morocco,$8.17,20.0
386,387,03/12/2021,Jayme,Giottini,jgiottiniaq@cbc.ca,Female,91.206.101.226,Morocco,$3.34,20.0
398,399,03/26/2021,Giulietta,Hun,ghunb2@tiny.cc,Female,82.47.217.54,Morocco,$9.96,20.0
445,446,03/05/2021,Ag,Dwelly,adwellycd@ow.ly,Female,181.12.97.4,Morocco,$4.10,20.0
532,533,03/17/2021,Rosamund,Pawlick,rpawlickes@about.com,Female,26.33.30.214,Morocco,$5.65,20.0
551,552,03/18/2021,Sherie,Jermy,sjermyfb@foxnews.com,Female,48.114.5.248,Morocco,$5.91,20.0
598,599,03/23/2021,Sibilla,Monday,smondaygm@plala.or.jp,Female,102.95.58.85,Morocco,$5.81,20.0
600,601,03/19/2021,Lusa,McColgan,lmccolgango@nature.com,Female,141.132.71.145,Morocco,$5.98,20.0
606,607,03/19/2021,Arda,Yude,ayudegu@dailymail.co.uk,Female,255.240.144.60,Morocco,$6.18,20.0
621,622,03/04/2021,Esme,Jodlkowski,ejodlkowskih9@zdnet.com,Female,27.113.83.72,Morocco,$9.72,NaN
681,682,03/02/2021,Clare,Breitler,cbreitlerix@printfriendly.com,Female,53.157.180.213,Morocco,$9.33,20.0
736,737,03/15/2021,Constantine,Loble,cloblekg@digg.com,Female,9.57.195.1,Morocco,$8.44,20.0
789,790,03/09/2021,Elnar,Hurleston,ehurlestonlx@slideshare.net,Female,233.99.164.115,Morocco,$4.27,20.0
791,792,03/11/2021,Faythe,Lofting,floftinglz@mozilla.com,Female,16.218.126.181,Morocco,$5.62,20.0
835,836,03/05/2021,Hy,Jeschner,hjeschnern7@irs.gov,Female,171.104.13.250,Morocco,$8.53,20.0
882,883,03/03/2021,Aluin,Petegrew,apetegrewoi@alibaba.com,Female,161.49.144.43,Morocco,$3.50,NaN
903,904,03/02/2021,Doralynne,Kime,dkimep3@amazonaws.com,Female,72.171.1.100,Morocco,$8.85,20.0

In [19]:
dfcopy[dfcopy["pays"].isin(["Canada","France"])]

,id,date,nom,prenom,email,sexe,ip_address,pays,avant_taxe,taxe
0,1,03/28/2021,Marylin,Alders,malders0@shop-pro.jp,Male,160.119.8.119,Canada,$5.36,NaN
1,2,03/19/2021,Hinda,Harridge,hharridge1@gnu.org,Female,210.51.172.132,Canada,$8.32,NaN
6,7,03/14/2021,Ava,Kencott,akencott6@phoca.cz,Female,118.251.45.43,Canada,$6.29,NaN
7,8,03/08/2021,Codi,Feasley,cfeasley7@ed.gov,Male,26.190.191.249,France,$3.01,20.0
8,9,03/09/2021,Waylon,Heersema,wheersema8@tumblr.com,Male,63.242.174.112,Canada,$3.70,20.0
...,...,...,...,...,...,...,...,...,...,...
992,993,03/04/2021,Maurene,Guilloneau,mguilloneaurk@about.me,Male,108.73.141.204,France,$9.19,NaN
993,994,03/22/2021,Ossie,Snelle,osnellerl@nhs.uk,Male,230.187.67.246,France,$4.31,NaN
994,995,03/17/2021,Carolyne,Bruntjen,cbruntjenrm@reference.com,Female,7.29.168.78,France,$5.68,20.0
995,996,03/24/2021,Duff,Errigo,derrigorn@elpais.com,Female,193.84.247.144,France,$3.63,NaN
999,1000,03/23/2021,Rochelle,Pringuer,rpringuerrr@house.gov,NaN,170.193.249.83,Canada,$8.01,20.0

In [20]:
dfcopy["taxe"].isnull().sum()

346

In [21]:
dfcopy[dfcopy.eval("sexe == 'Male' &  pays.isnull() ")]

,id,date,nom,prenom,email,sexe,ip_address,pays,avant_taxe,taxe
89,90,03/03/2021,Laverne,Dunbobin,ldunbobin2h@indiegogo.com,Male,35.39.214.157,NaN,$6.77,20.0
167,168,03/17/2021,Patrick,Akers,pakers4n@clickbank.net,Male,64.160.202.149,NaN,$3.95,20.0
210,211,03/03/2021,Merrielle,Jarret,mjarret5u@epa.gov,Male,198.67.236.57,NaN,$4.43,NaN
241,242,03/15/2021,Lee,Dillestone,ldillestone6p@homestead.com,Male,30.181.158.168,NaN,$4.40,20.0
264,265,03/21/2021,Brock,Spridgeon,bspridgeon7c@buzzfeed.com,Male,0.229.159.212,NaN,$7.91,20.0
288,289,03/27/2021,Homer,Testin,htestin80@gov.uk,Male,126.20.220.131,NaN,$5.84,NaN
331,332,03/28/2021,Sibyl,Crystal,scrystal97@yandex.ru,Male,75.198.52.35,NaN,$9.93,20.0
358,359,03/01/2021,Etan,Muller,emuller9y@army.mil,Male,199.201.224.137,NaN,$9.85,NaN
443,444,03/14/2021,Clyde,Braundt,cbraundtcb@wsj.com,Male,31.77.5.241,NaN,$3.20,20.0
458,459,03/12/2021,Bernardine,Caslin,bcaslincq@ycombinator.com,Male,125.180.184.76,NaN,$4.54,20.0
587,588,03/23/2021,Xavier,Sleeford,xsleefordgb@theglobeandmail.com,Male,59.240.161.56,NaN,$9.71,NaN
590,591,03/29/2021,Bertram,Hazael,bhazaelge@apple.com,Male,105.102.117.157,NaN,$7.62,NaN
709,710,03/23/2021,Tristan,Trenam,ttrenamjp@tumblr.com,Male,179.127.186.159,NaN,$3.69,20.0
866,867,03/30/2021,Ced,Creeghan,ccreeghano2@nih.gov,Male,172.221.172.23,NaN,$5.28,20.0
930,931,03/03/2021,Tessa,Janowicz,tjanowiczpu@amazon.de,Male,54.146.6.232,NaN,$9.15,NaN

 *********************************  Les lignes : iloc  et loc***************************************************

In [22]:
dfcopy

,id,date,nom,prenom,email,sexe,ip_address,pays,avant_taxe,taxe
0,1,03/28/2021,Marylin,Alders,malders0@shop-pro.jp,Male,160.119.8.119,Canada,$5.36,NaN
1,2,03/19/2021,Hinda,Harridge,hharridge1@gnu.org,Female,210.51.172.132,Canada,$8.32,NaN
2,3,03/17/2021,Erl,Kilminster,ekilminster2@etsy.com,Male,213.8.101.145,United States,$3.73,20.0
3,4,03/19/2021,Grata,Brantl,gbrantl3@umn.edu,Female,5.140.237.101,United States,$3.70,20.0
4,5,03/24/2021,Kanya,Beasant,kbeasant4@jigsy.com,Male,106.252.162.233,Morocco,$9.24,20.0
...,...,...,...,...,...,...,...,...,...,...
995,996,03/24/2021,Duff,Errigo,derrigorn@elpais.com,Female,193.84.247.144,France,$3.63,NaN
996,997,03/17/2021,Ame,Rastall,arastallro@toplist.cz,Female,188.219.12.109,NaN,$4.59,20.0
997,998,03/13/2021,Betty,Stickels,bstickelsrp@cloudflare.com,Male,199.80.60.87,United States,$7.54,20.0
998,999,03/17/2021,Paquito,Tesoe,ptesoerq@rakuten.co.jp,Male,0.183.63.11,United States,$5.81,NaN
999,1000,03/23/2021,Rochelle,Pringuer,rpringuerrr@house.gov,NaN,170.193.249.83,Canada,$8.01,20.0

In [23]:
dfcopy.iloc[0,1]

'03/28/2021'

In [24]:
dfcopy.iloc[0:3]

,id,date,nom,prenom,email,sexe,ip_address,pays,avant_taxe,taxe
0,1,03/28/2021,Marylin,Alders,malders0@shop-pro.jp,Male,160.119.8.119,Canada,$5.36,NaN
1,2,03/19/2021,Hinda,Harridge,hharridge1@gnu.org,Female,210.51.172.132,Canada,$8.32,NaN
2,3,03/17/2021,Erl,Kilminster,ekilminster2@etsy.com,Male,213.8.101.145,United States,$3.73,20.0

In [25]:
dfcopy.iloc[0:3,0:3]

   id        date      nom
0   1  03/28/2021  Marylin
1   2  03/19/2021    Hinda
2   3  03/17/2021      Erl

In [26]:
dfcopy.iloc[0:3,2:5]

       nom      prenom                  email
0  Marylin      Alders   malders0@shop-pro.jp
1    Hinda    Harridge     hharridge1@gnu.org
2      Erl  Kilminster  ekilminster2@etsy.com

In [27]:
dfcopy

,id,date,nom,prenom,email,sexe,ip_address,pays,avant_taxe,taxe
0,1,03/28/2021,Marylin,Alders,malders0@shop-pro.jp,Male,160.119.8.119,Canada,$5.36,NaN
1,2,03/19/2021,Hinda,Harridge,hharridge1@gnu.org,Female,210.51.172.132,Canada,$8.32,NaN
2,3,03/17/2021,Erl,Kilminster,ekilminster2@etsy.com,Male,213.8.101.145,United States,$3.73,20.0
3,4,03/19/2021,Grata,Brantl,gbrantl3@umn.edu,Female,5.140.237.101,United States,$3.70,20.0
4,5,03/24/2021,Kanya,Beasant,kbeasant4@jigsy.com,Male,106.252.162.233,Morocco,$9.24,20.0
...,...,...,...,...,...,...,...,...,...,...
995,996,03/24/2021,Duff,Errigo,derrigorn@elpais.com,Female,193.84.247.144,France,$3.63,NaN
996,997,03/17/2021,Ame,Rastall,arastallro@toplist.cz,Female,188.219.12.109,NaN,$4.59,20.0
997,998,03/13/2021,Betty,Stickels,bstickelsrp@cloudflare.com,Male,199.80.60.87,United States,$7.54,20.0
998,999,03/17/2021,Paquito,Tesoe,ptesoerq@rakuten.co.jp,Male,0.183.63.11,United States,$5.81,NaN
999,1000,03/23/2021,Rochelle,Pringuer,rpringuerrr@house.gov,NaN,170.193.249.83,Canada,$8.01,20.0

In [28]:
dfcopy

,id,date,nom,prenom,email,sexe,ip_address,pays,avant_taxe,taxe
0,1,03/28/2021,Marylin,Alders,malders0@shop-pro.jp,Male,160.119.8.119,Canada,$5.36,NaN
1,2,03/19/2021,Hinda,Harridge,hharridge1@gnu.org,Female,210.51.172.132,Canada,$8.32,NaN
2,3,03/17/2021,Erl,Kilminster,ekilminster2@etsy.com,Male,213.8.101.145,United States,$3.73,20.0
3,4,03/19/2021,Grata,Brantl,gbrantl3@umn.edu,Female,5.140.237.101,United States,$3.70,20.0
4,5,03/24/2021,Kanya,Beasant,kbeasant4@jigsy.com,Male,106.252.162.233,Morocco,$9.24,20.0
...,...,...,...,...,...,...,...,...,...,...
995,996,03/24/2021,Duff,Errigo,derrigorn@elpais.com,Female,193.84.247.144,France,$3.63,NaN
996,997,03/17/2021,Ame,Rastall,arastallro@toplist.cz,Female,188.219.12.109,NaN,$4.59,20.0
997,998,03/13/2021,Betty,Stickels,bstickelsrp@cloudflare.com,Male,199.80.60.87,United States,$7.54,20.0
998,999,03/17/2021,Paquito,Tesoe,ptesoerq@rakuten.co.jp,Male,0.183.63.11,United States,$5.81,NaN
999,1000,03/23/2021,Rochelle,Pringuer,rpringuerrr@house.gov,NaN,170.193.249.83,Canada,$8.01,20.0

In [29]:
dfcopy.set_index("sexe",inplace=True)

In [30]:
dfcopy

,id,date,nom,prenom,email,ip_address,pays,avant_taxe,taxe
sexe,,,,,,,,,
Male,1,03/28/2021,Marylin,Alders,malders0@shop-pro.jp,160.119.8.119,Canada,$5.36,NaN
Female,2,03/19/2021,Hinda,Harridge,hharridge1@gnu.org,210.51.172.132,Canada,$8.32,NaN
Male,3,03/17/2021,Erl,Kilminster,ekilminster2@etsy.com,213.8.101.145,United States,$3.73,20.0
Female,4,03/19/2021,Grata,Brantl,gbrantl3@umn.edu,5.140.237.101,United States,$3.70,20.0
Male,5,03/24/2021,Kanya,Beasant,kbeasant4@jigsy.com,106.252.162.233,Morocco,$9.24,20.0
...,...,...,...,...,...,...,...,...,...
Female,996,03/24/2021,Duff,Errigo,derrigorn@elpais.com,193.84.247.144,France,$3.63,NaN
Female,997,03/17/2021,Ame,Rastall,arastallro@toplist.cz,188.219.12.109,NaN,$4.59,20.0
Male,998,03/13/2021,Betty,Stickels,bstickelsrp@cloudflare.com,199.80.60.87,United States,$7.54,20.0
Male,999,03/17/2021,Paquito,Tesoe,ptesoerq@rakuten.co.jp,0.183.63.11,United States,$5.81,NaN
NaN,1000,03/23/2021,Rochelle,Pringuer,rpringuerrr@house.gov,170.193.249.83,Canada,$8.01,20.0

In [31]:
dfcopy.loc["Male"]

,id,date,nom,prenom,email,ip_address,pays,avant_taxe,taxe
sexe,,,,,,,,,
Male,1,03/28/2021,Marylin,Alders,malders0@shop-pro.jp,160.119.8.119,Canada,$5.36,NaN
Male,3,03/17/2021,Erl,Kilminster,ekilminster2@etsy.com,213.8.101.145,United States,$3.73,20.0
Male,5,03/24/2021,Kanya,Beasant,kbeasant4@jigsy.com,106.252.162.233,Morocco,$9.24,20.0
Male,8,03/08/2021,Codi,Feasley,cfeasley7@ed.gov,26.190.191.249,France,$3.01,20.0
Male,9,03/09/2021,Waylon,Heersema,wheersema8@tumblr.com,63.242.174.112,Canada,$3.70,20.0
...,...,...,...,...,...,...,...,...,...
Male,992,03/07/2021,Elihu,Crush,ecrushrj@berkeley.edu,174.38.173.53,Morocco,$5.05,20.0
Male,993,03/04/2021,Maurene,Guilloneau,mguilloneaurk@about.me,108.73.141.204,France,$9.19,NaN
Male,994,03/22/2021,Ossie,Snelle,osnellerl@nhs.uk,230.187.67.246,France,$4.31,NaN
Male,998,03/13/2021,Betty,Stickels,bstickelsrp@cloudflare.com,199.80.60.87,United States,$7.54,20.0
Male,999,03/17/2021,Paquito,Tesoe,ptesoerq@rakuten.co.jp,0.183.63.11,United States,$5.81,NaN

In [32]:
dfcopy.loc[dfcopy["pays"]=="Canada"]

,id,date,nom,prenom,email,ip_address,pays,avant_taxe,taxe
sexe,,,,,,,,,
Male,1,03/28/2021,Marylin,Alders,malders0@shop-pro.jp,160.119.8.119,Canada,$5.36,NaN
Female,2,03/19/2021,Hinda,Harridge,hharridge1@gnu.org,210.51.172.132,Canada,$8.32,NaN
Female,7,03/14/2021,Ava,Kencott,akencott6@phoca.cz,118.251.45.43,Canada,$6.29,NaN
Male,9,03/09/2021,Waylon,Heersema,wheersema8@tumblr.com,63.242.174.112,Canada,$3.70,20.0
Male,11,03/11/2021,Lief,Woodcraft,lwoodcrafta@sitemeter.com,201.76.240.51,Canada,$5.71,NaN
...,...,...,...,...,...,...,...,...,...
Male,965,03/16/2021,Marilyn,McKiernan,mmckiernanqs@mapy.cz,50.243.237.247,Canada,$4.23,20.0
Female,970,03/15/2021,Dody,Jakubovics,djakubovicsqx@ifeng.com,0.217.109.79,Canada,$4.36,NaN
Female,972,03/09/2021,Devan,Kamena,dkamenaqz@umn.edu,7.228.190.130,Canada,$7.25,20.0
Male,979,03/18/2021,Bartolemo,Veelers,bveelersr6@smh.com.au,149.150.196.237,Canada,$7.76,20.0
NaN,1000,03/23/2021,Rochelle,Pringuer,rpringuerrr@house.gov,170.193.249.83,Canada,$8.01,20.0

In [33]:
dfcopy

,id,date,nom,prenom,email,ip_address,pays,avant_taxe,taxe
sexe,,,,,,,,,
Male,1,03/28/2021,Marylin,Alders,malders0@shop-pro.jp,160.119.8.119,Canada,$5.36,NaN
Female,2,03/19/2021,Hinda,Harridge,hharridge1@gnu.org,210.51.172.132,Canada,$8.32,NaN
Male,3,03/17/2021,Erl,Kilminster,ekilminster2@etsy.com,213.8.101.145,United States,$3.73,20.0
Female,4,03/19/2021,Grata,Brantl,gbrantl3@umn.edu,5.140.237.101,United States,$3.70,20.0
Male,5,03/24/2021,Kanya,Beasant,kbeasant4@jigsy.com,106.252.162.233,Morocco,$9.24,20.0
...,...,...,...,...,...,...,...,...,...
Female,996,03/24/2021,Duff,Errigo,derrigorn@elpais.com,193.84.247.144,France,$3.63,NaN
Female,997,03/17/2021,Ame,Rastall,arastallro@toplist.cz,188.219.12.109,NaN,$4.59,20.0
Male,998,03/13/2021,Betty,Stickels,bstickelsrp@cloudflare.com,199.80.60.87,United States,$7.54,20.0
Male,999,03/17/2021,Paquito,Tesoe,ptesoerq@rakuten.co.jp,0.183.63.11,United States,$5.81,NaN
NaN,1000,03/23/2021,Rochelle,Pringuer,rpringuerrr@house.gov,170.193.249.83,Canada,$8.01,20.0

In [34]:
dfcopy.drop(["ip_address"], axis=1,inplace=True)

In [40]:
dfcopy

                date      prenom           pays avant_taxe  taxe
nom
Marylin   03/28/2021      Alders         Canada      $5.36   NaN
Hinda     03/19/2021    Harridge         Canada      $8.32   NaN
Erl       03/17/2021  Kilminster  United States      $3.73  20.0
Grata     03/19/2021      Brantl  United States      $3.70  20.0
Kanya     03/24/2021     Beasant        Morocco      $9.24  20.0
...              ...         ...            ...        ...   ...
Duff      03/24/2021      Errigo         France      $3.63   NaN
Ame       03/17/2021     Rastall            NaN      $4.59  20.0
Betty     03/13/2021    Stickels  United States      $7.54  20.0
Paquito   03/17/2021       Tesoe  United States      $5.81   NaN
Rochelle  03/23/2021    Pringuer         Canada      $8.01  20.0

[1000 rows x 5 columns]

In [36]:
dfcopy.drop(["id","email"], axis=1,inplace=True)

In [37]:
dfcopy

              date       nom      prenom           pays avant_taxe  taxe
sexe
Male    03/28/2021   Marylin      Alders         Canada      $5.36   NaN
Female  03/19/2021     Hinda    Harridge         Canada      $8.32   NaN
Male    03/17/2021       Erl  Kilminster  United States      $3.73  20.0
Female  03/19/2021     Grata      Brantl  United States      $3.70  20.0
Male    03/24/2021     Kanya     Beasant        Morocco      $9.24  20.0
...            ...       ...         ...            ...        ...   ...
Female  03/24/2021      Duff      Errigo         France      $3.63   NaN
Female  03/17/2021       Ame     Rastall            NaN      $4.59  20.0
Male    03/13/2021     Betty    Stickels  United States      $7.54  20.0
Male    03/17/2021   Paquito       Tesoe  United States      $5.81   NaN
NaN     03/23/2021  Rochelle    Pringuer         Canada      $8.01  20.0

[1000 rows x 6 columns]

In [38]:
dfcopy.set_index("nom",inplace=True)

In [39]:
dfcopy

                date      prenom           pays avant_taxe  taxe
nom
Marylin   03/28/2021      Alders         Canada      $5.36   NaN
Hinda     03/19/2021    Harridge         Canada      $8.32   NaN
Erl       03/17/2021  Kilminster  United States      $3.73  20.0
Grata     03/19/2021      Brantl  United States      $3.70  20.0
Kanya     03/24/2021     Beasant        Morocco      $9.24  20.0
...              ...         ...            ...        ...   ...
Duff      03/24/2021      Errigo         France      $3.63   NaN
Ame       03/17/2021     Rastall            NaN      $4.59  20.0
Betty     03/13/2021    Stickels  United States      $7.54  20.0
Paquito   03/17/2021       Tesoe  United States      $5.81   NaN
Rochelle  03/23/2021    Pringuer         Canada      $8.01  20.0

[1000 rows x 5 columns]

In [41]:
df

,id,date,first_name,last_name,email,gender,ip_address,country,price_paid,tax
0,1,03/28/2021,Marylin,Alders,malders0@shop-pro.jp,Male,160.119.8.119,Canada,$5.36,NaN
1,2,03/19/2021,Hinda,Harridge,hharridge1@gnu.org,Female,210.51.172.132,Canada,$8.32,NaN
2,3,03/17/2021,Erl,Kilminster,ekilminster2@etsy.com,Male,213.8.101.145,United States,$3.73,20.0
3,4,03/19/2021,Grata,Brantl,gbrantl3@umn.edu,Female,5.140.237.101,United States,$3.70,20.0
4,5,03/24/2021,Kanya,Beasant,kbeasant4@jigsy.com,Male,106.252.162.233,Morocco,$9.24,20.0
...,...,...,...,...,...,...,...,...,...,...
995,996,03/24/2021,Duff,Errigo,derrigorn@elpais.com,Female,193.84.247.144,France,$3.63,NaN
996,997,03/17/2021,Ame,Rastall,arastallro@toplist.cz,Female,188.219.12.109,NaN,$4.59,20.0
997,998,03/13/2021,Betty,Stickels,bstickelsrp@cloudflare.com,Male,199.80.60.87,United States,$7.54,20.0
998,999,03/17/2021,Paquito,Tesoe,ptesoerq@rakuten.co.jp,Male,0.183.63.11,United States,$5.81,NaN
999,1000,03/23/2021,Rochelle,Pringuer,rpringuerrr@house.gov,NaN,170.193.249.83,Canada,$8.01,20.0